name: LeetCode Auto Markdown

on:
  schedule:
    - cron: "30 3 * * *"  # 9:00 AM IST
  workflow_dispatch:

jobs:
  daily-leetcode:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Fetch LeetCode daily challenge
        run: node scripts/fetchLeetCodeProblem.js

      - name: Generate markdown from template
        run: node scripts/generateMarkdown.js

      - name: Commit and push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Add daily LeetCode log for $(date +'%Y-%m-%d')" || echo "No changes to commit"
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }} HEAD:main
